@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: MontserratItalic;
  src: url(../assets/fonts/Montserrat-MediumItalic.ttf);
  font-weight: 500;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

a {
  text-decoration: none;
  color: black;
}

body {
  overflow: hidden;
  background: linear-gradient(0deg, rgba(247, 93, 139, 0.64), rgba(254, 220, 64, 0.67) 80%);
}

li {
  list-style: none;
}

.main {
  max-width: 1140px;
  margin: 0 auto;
}
.main__line {
  width: 100%;
  height: 2px;
  background-color: rgba(82, 82, 82, 0.5764705882);
  margin-bottom: 50px;
  z-index: 1;
}
@media (max-width: 426px) {
  .main {
    max-width: 400px;
  }
}
@media (max-width: 1025px) {
  .main {
    max-width: 900px;
    margin: 0 auto;
  }
}

.header {
  max-width: 1700px;
  margin: 0 auto;
  padding-bottom: 110px;
  animation: anim 1s ease both;
}
@media (max-width: 426px) {
  .header {
    max-width: 350px;
  }
}
@media (max-width: 1025px) {
  .header {
    max-width: 900px;
    margin: 0 auto;
  }
}
.header__back {
  padding: 30px;
}
.header__back_text {
  font-size: 30px;
}
.header__back_text:hover {
  cursor: pointer;
}
.header__nav {
  position: relative;
}
.header__you {
  width: 100px;
  height: 100px;
  position: absolute;
}
.header__you_1 {
  left: 324px;
}
@media (max-width: 1531px) {
  .header__you_1 {
    display: none;
  }
}
.header__you_2 {
  left: 1100px;
}
@media (max-width: 1531px) {
  .header__you_2 {
    display: none;
  }
}
.header__way {
  width: 770px;
  height: 225px;
  position: absolute;
  left: 375px;
  top: 27px;
  rotate: 2deg;
}
@media (max-width: 1531px) {
  .header__way {
    display: none;
  }
}
.header__img {
  height: 150px;
  transition: all 0.3s ease;
  border-radius: 50% 50% 30px 30px;
}
.header__img:hover {
  transform: scale(0.9);
  border-radius: 10px;
}
@media (max-width: 376px) {
  .header__img {
    height: 100px;
    width: 150px;
  }
}
@media (max-width: 426px) {
  .header__img {
    width: 150px;
    height: 100px;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
}

.burger {
  margin-right: 30px;
  transition: all 0.4s ease;
  padding: 17px 7px;
  position: absolute;
  right: 6%;
}
@media (max-width: 376px) {
  .burger {
    right: 0;
  }
}
.burger :hover {
  cursor: pointer;
}
.burger__links {
  position: absolute;
  top: 35px;
  right: 1%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6745098039);
  border-radius: 15px;
  padding: 5px;
  align-items: center;
}
.burger__a {
  display: none;
}
.burger__link {
  color: black;
  margin-bottom: 15px;
}
.burger__link:last-child {
  margin-bottom: 0;
}
.burger__link:hover {
  color: #8b8a8a;
}
.burger__btn {
  transition: all 0.6s ease;
  width: -moz-max-content;
  width: max-content;
  background-color: #f0ae62;
  padding: 7px;
  border-radius: 10px;
}
.burger__btn:hover {
  color: white;
  background-color: #f18900;
}
.burger__line {
  width: 40px;
  height: 5px;
  background-color: #525252;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin-bottom: 7px;
}

.footer {
  max-width: 80%;
  margin: auto;
  z-index: 0;
}
@media (max-width: 1025px) {
  .footer {
    max-width: 900px;
    margin: 0 auto;
  }
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
@media (max-width: 426px) {
  .footer__wrap {
    flex-direction: column;
  }
}
.footer__title {
  font-weight: 500;
  font-size: 18px;
}
.footer__link {
  color: #525252;
  margin-top: 15px;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon_vk {
  display: flex;
  align-items: center;
}
.footer__icon_vk::before {
  background: url(../assets/img/vk.png) no-repeat center center;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer__icon_tg {
  display: flex;
  align-items: center;
}
.footer__icon_tg::before {
  background: url(../assets/img/telegram.png) no-repeat center center;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer__icon_yt {
  display: flex;
  align-items: center;
}
.footer__icon_yt::before {
  background: url(../assets/img/youtube.png) no-repeat center center;
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.footer__info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.footer__email_input {
  margin-top: 15px;
}
.footer__input_btn {
  background-color: #fff;
  border: 1px;
  padding: 5px;
}
.footer__input_btn:hover {
  cursor: pointer;
}
.footer__input_email {
  padding: 5px;
  border: 1px;
  border-radius: 10px;
}
.footer__info {
  display: flex;
  justify-content: center;
  color: rgba(82, 82, 82, 0.3137254902);
}
.footer__info_text:first-child {
  margin-right: 20px;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 777;
  transition: all 0.4s ease;
}

.loader {
  border: 8px solid #fff;
  border-top: 7px solid #28a13c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}