.slider {
  padding-bottom: 100px;
  animation: anim 1s ease both;
  transition: all 0.4s linear;
  margin: 0 auto;
}
@media (max-width: 1025px) {
  .slider {
    max-width: 900px;
  }
}
@media (max-width: 770px) {
  .slider {
    max-width: 750px;
  }
}
@media (max-width: 426px) {
  .slider {
    max-width: 400px;
  }
}
@media (max-width: 376px) {
  .slider {
    max-width: 350px;
  }
}
.slider__wrap {
  position: relative;
}
.slider__title {
  position: absolute;
  top: 15px;
  font-weight: 700;
  font-size: 32px;
  right: 30%;
  opacity: 70%;
}
@media (max-width: 1025px) {
  .slider__title {
    font-size: 26px;
  }
}
@media (max-width: 376px) {
  .slider__title {
    font-size: 18px;
    right: 25%;
  }
}
.slider__box {
  display: flex;
  transition: all 1s linear;
}
.slider__btn_left {
  border: 0;
  position: absolute;
  opacity: 60%;
  top: 50%;
  transition: all 0.3s ease;
}
@media (max-width: 376px) {
  .slider__btn_left {
    width: 20px;
  }
}
.slider__btn_left:hover {
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 10px;
}
.slider__btn_right {
  position: absolute;
  border: 0;
  opacity: 60%;
  right: 0;
  top: 50%;
  transition: all 0.3s ease;
}
.slider__btn_right:hover {
  cursor: pointer;
  transform: scale(0.9);
  border-radius: 10px;
}
.slider__img {
  width: 1140px;
  height: 640px;
  border-radius: 30px;
}
@media (max-width: 1025px) {
  .slider__img {
    max-width: 900px;
    max-height: 500px;
  }
}
@media (max-width: 770px) {
  .slider__img {
    max-width: 750px;
    max-height: 450px;
  }
}
@media (max-width: 426px) {
  .slider__img {
    max-width: 400px;
    max-height: 300px;
  }
}
@media (max-width: 376px) {
  .slider__img {
    max-width: 350px;
    max-height: 300px;
  }
}
.slider__img_1 {
  display: flex;
}
.slider__img_2, .slider__img_3, .slider__img_4, .slider__img_5 {
  display: none;
}

.shebekino {
  color: black;
}
.shebekino:hover {
  cursor: default;
}

.post {
  padding-bottom: 50px;
}
@media (max-width: 770px) {
  .post {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.post__title {
  font-weight: 700;
  font-size: 32px;
}
@media (max-width: 376px) {
  .post__title {
    font-size: 24px;
  }
}
.post__subtitle {
  font-weight: 600;
  font-size: 24px;
  max-width: 440px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.post__text {
  font-family: "MontserratItalic";
  font-weight: 500;
  font-size: 20px;
  max-width: 460px;
  z-index: 2;
}
@media (max-width: 376px) {
  .post__text {
    max-width: 300px;
  }
}
.post-1__wrap {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 770px) {
  .post-1__wrap {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 426px) {
  .post-1__wrap {
    flex-direction: column;
  }
}
.post-1__block {
  flex-direction: column;
}
@media (max-width: 376px) {
  .post-1__block {
    display: flex;
    align-items: center;
  }
}
.post-1__img {
  margin-top: 2%;
}
@media (max-width: 376px) {
  .post-1__img {
    width: 300px;
    height: 230px;
  }
}
@media (max-width: 426px) {
  .post-1__img {
    width: 400px;
    height: 320px;
  }
}
.post-2__wrap {
  padding-top: 140px;
  padding-bottom: 120px;
}
@media (max-width: 770px) {
  .post-2__wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (max-width: 426px) {
  .post-2__wrap {
    display: flex;
    flex-direction: column;
  }
}
.post-2__box {
  position: relative;
}
.post-2__block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 376px) {
  .post-2__block {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 426px) {
  .post-2__block {
    display: flex;
    flex-direction: column;
  }
}
.post-2__subtitle {
  margin-bottom: 27px;
  margin-top: 0;
  z-index: 2;
}
@media (max-width: 376px) {
  .post-2__subtitle {
    font-size: 16px;
    max-width: 300px;
  }
}
@media (max-width: 770px) {
  .post-2__img {
    width: 500px;
    height: 350px;
  }
}
@media (max-width: 426px) {
  .post-2__img {
    width: 350px;
    height: 260px;
  }
}
.post-2__text {
  max-width: 550px;
  margin-right: 5%;
}
@media (max-width: 376px) {
  .post-2__text {
    font-size: 12px;
  }
}
.post-2__circle {
  position: relative;
}
.post-2__circle_red {
  position: absolute;
  top: -20%;
  left: 4%;
  z-index: -1;
}
@media (max-width: 1025px) {
  .post-2__circle_red {
    display: none;
  }
}
.post-2__circle_green {
  position: absolute;
  top: 16%;
  left: 24%;
  z-index: -2;
}
@media (max-width: 1025px) {
  .post-2__circle_green {
    display: none;
  }
}
.post-2__circle_yellow {
  position: absolute;
  left: 45%;
  top: -10%;
  z-index: -1;
}
@media (max-width: 1025px) {
  .post-2__circle_yellow {
    display: none;
  }
}
.post-2__circle_blue {
  position: absolute;
}
@media (max-width: 1025px) {
  .post-2__circle_blue {
    display: none;
  }
}
.post-2__circle_blue-1 {
  right: -45%;
  z-index: -1;
  top: -20%;
}
.post-2__circle_blue-2 {
  right: 0;
  bottom: -50px;
  z-index: -1;
}
.post-3__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 770px) {
  .post-3__wrap {
    flex-direction: column;
    text-align: center;
  }
}
.post-3__text {
  max-width: 500px;
}
.post-3__img {
  width: 612px;
}
@media (max-width: 426px) {
  .post-3__img {
    max-width: 400px;
  }
}
@media (max-width: 376px) {
  .post-3__img {
    width: 300px;
    height: 230px;
  }
}

.maps {
  padding-bottom: 50px;
}
.maps__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 376px) {
  .maps__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
.maps__title {
  font-weight: 600;
}
.maps__title_box {
  display: flex;
  justify-content: center;
}
.maps__btn {
  transition: all 0.5s ease;
  border: 0;
  margin-right: 30px;
  border-radius: 10px;
  background-color: #fff;
  padding: 7px 5px;
}
.maps__btn:last-child {
  margin-right: 0;
}
.maps__btn:hover {
  cursor: pointer;
  background-color: #f18900;
  color: #fff;
}
.maps__label {
  font-weight: 600;
  font-size: 24px;
}
.maps__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maps__map {
  display: none;
}
.maps__map_frame {
  width: 400px;
  height: 400px;
}
@media (max-width: 376px) {
  .maps__map_frame {
    width: 350px;
    height: 350px;
  }
}
.maps__main {
  display: block;
}